* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hero-banner .container,
.today-sales .container,
.categories .container,
.bestSellingProduct .container,
.experience .container,
.our-products .container {
    width: 80%;
    margin: 50px auto;
}

/* Hero Banner START */
.hero-banner .container .row {
    display: flex;
    column-gap: 50px;
}

.hero-banner .container .row .list {
    flex-basis: 17%;
}

.hero-banner .container .row .main-text {
    flex-basis: 83%;
}

.hero-banner .container .row .list ul li {
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
}

.hero-banner .container .row .list ul li:first-child,
.hero-banner .container .row .list ul li:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.hero-banner .container .row .list ul li a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}

.hero-banner .container .row .main-text {
    background-color: #000;
    padding: 20px 40px;
}

.hero-banner .container .row .main-text .row {
    display: flex;
}

.hero-banner .container .row .main-text .row .col {
    flex-basis: 50%;
}

.hero-banner .container .row .main-text .row .col:first-child {
    padding: 20px 40px;
}

.hero-banner .container .row .main-text .row .col ul li {
    margin: 25px 0px;
}

.hero-banner .container .row .main-text .row .col ul li:first-child {
    display: flex;
    align-items: center;
}

.hero-banner .container .row .main-text .row .col:first-child span {
    color: #fff;
    margin-left: 30px;
}

.hero-banner .container .row .main-text .row .col ul li:nth-child(2) h2 {
    width: 70%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    color: #FAFAFA;

}

.hero-banner .container .row .main-text .row .col ul li:last-child a {
    text-decoration: none;
    color: #fff;
    transition: all .3s ease-in-out;
}

.hero-banner .container .row .main-text .row .col ul li:last-child a::before {
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;
}

.hero-banner .container .row .main-text .row .col ul li:last-child a:hover {
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;
}

/* Hero Banner END */

/* Today Sales START */
.today-sales {
    margin: 80px 0px 40px 0px;
}

.today-sales .container {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 100px;
}

.today-sales .container .row {
    display: flex;
    align-items: center;
}


.today-sales .container .row .col:first-child {
    flex-basis: 25%;
}


.today-sales .container .row .col:first-child span {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin: 25px 0px;
}

.today-sales .container .row .col:first-child span>.text-border-left {
    width: 20px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    background: #DB4444;
    display: inline-block;
}

.today-sales .container .row .col:first-child h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

.today-sales .container .row .col:last-child {
    flex-basis: 80%;
    align-self: flex-end;
}

.today-sales .container .row .col:last-child .row-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-sales .container .row .col:last-child .row-inside .time-left {
    display: flex;
    column-gap: 20px;
}

.today-sales .container .row .col:last-child .row-inside .time-left .days {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.today-sales .container .row .col:last-child .row-inside .time-left .two-dots {
    color: #E07575;
    font-size: 20px;
    font-weight: 800;
    align-self: center;
}

.today-sales .container .row .col:last-child .row-inside .navigate-arrow {
    display: flex;
}

.today-sales .container .row .col:last-child .row-inside .navigate-arrow li {
    list-style: none;
    margin: 0px 5px;
    display: flex;
    min-width: 20px;
    padding: 10px 12px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border-radius: 50%;
    cursor: pointer;
}

.today-sales .container .products-row {
    display: flex;
    margin: 40px 0px;
    column-gap: 30px;
}

.today-sales .container .products-row .col {
    flex-basis: 25%;
}

.today-sales .container .products-row .col .product-img {
    position: relative;
    height: 250px;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.today-sales .container .products-row .col .product-img .discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
    position: absolute;
    width: 55px;
    height: 26px;
    left: 12px;
    top: 12px;
    background: #DB4444;
    border-radius: 4px;
}

.today-sales .container .products-row .col .product-img .discount span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FAFAFA;
}

.today-sales .container .products-row .col .product-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.today-sales .container .products-row .col .product-img .icons {
    position: absolute;
    right: 12px;
    top: 12px;
}

.today-sales .container .products-row .col .product-img .icons li {
    margin-bottom: 10px;
    display: flex;
    min-width: 20px;
    padding: 10px 15px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.today-sales .container .products-row .col .product-img .icons li a {
    text-decoration: none;
    color: #000;
    transition: all .2s ease-in-out;
}

.today-sales .container .products-row .col .product-img .icons li:hover>a {
    color: #DB4444;
}

.today-sales .container .products-row .col .product-description {
    margin: 10px 0px;
}

.today-sales .container .products-row .col .product-description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.today-sales .container .products-row .col .product-description .main-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
    margin: 15px 0px;
}

.today-sales .container .products-row .col .product-description .main-span>.grey-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.5;
    margin-left: 15px;
}

.today-sales .container .products-row .col .product-description .rate {
    display: flex;
}

.today-sales .container .products-row .col .product-description .rate li {
    list-style: none;
    margin-right: 5px;
}

.today-sales .container .products-row .col .product-description .rate li i {
    color: #FFAD33;
}

.today-sales .container .products-row .col:nth-child(2) .product-img button {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 41px;
    border-radius: 0px 0px 4px 4px;
    background-color: #000;
    outline: none;
    border: none;
}

.today-sales .container .products-row .col:nth-child(2) .product-img button a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
}

.today-sales .container .products-row .col:nth-child(2) .product-img button:hover>a {
    color: #DB4444;
}

.today-sales .container .products-row .col:nth-child(2) .product-description .rate li:nth-child(5) i {
    color: #000;
    opacity: 0.25;
}

.today-sales .container .products-row .col .product-description .rate li .rate-number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}

.today-sales .container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.today-sales .container .button a {
    width: 25%;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    padding: 16px 48px;
    gap: 10px;
    background: #DB4444;
    border-radius: 4px;
}

/* Categories START */

.categories .container {
    margin: 80px auto;
}


.categories .container .row .col span {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin: 25px 0px;
}

.categories .container .row .col span .text-left {
    width: 20px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    background: #DB4444;
    display: inline-block;
}

.categories .container .row .col h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

/* Categories END */

/* Product Category START */

.categories .container .productCategory {
    margin: 25px 0;
}

.categories .container .productCategory .row {
    display: flex;
    column-gap: 50px;
    width: 100%;
}

.categories .container .productCategory .row a {
    flex-basis: 16.66%;
    border: 1px solid #828282;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
}

.categories .container .productCategory a {
    text-decoration: none;
    color: #000;
}

.categories .container .productCategory a .col i {
    font-size: 30px;
}

.categories .container .productCategory a:nth-child(4) {
    padding: 0;
}

.categories .container .productCategory a:nth-child(4) .col {
    border: 1px solid #DB4444;
    border-radius: 3px;
    background-color: #DB4444;
    text-align: center;
    color: #fff;
    padding: 15px;
}

/* Product Category END */


/* Best Selling Product START */
.bestSellingProduct i {
    font-size: 18px;
}


.bestSellingProduct .container .row .col span {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin: 25px 0px;
}

.bestSellingProduct .container .row .col span .text-product-left {
    width: 20px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    background: #DB4444;
    display: inline-block;
}

.bestSellingProduct .container .row .col h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

.bestSellingProduct .colTwo {
    display: flex;
    justify-content: space-between;
}

.bestSellingProduct .colTwo button {
    padding: 0 30px;
    background-color: #DB4444;
    color: white;
    border: none;
    border-radius: 4px;
}

.bestSellingProduct .container .products-row {
    display: flex;
    margin: 40px 0px;
    column-gap: 30px;
}


.bestSellingProduct .container .products-row .col {
    flex-basis: 25%;
}

.bestSellingProduct .container .products-row .col .best-product {
    position: relative;
    height: 250px;
    background-color: #F5F5F5;
    border-radius: 4px;
}


.bestSellingProduct .container .products-row .col .best-product img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bestSellingProduct .container .products-row .col .best-product .icons {
    position: absolute;
    right: 12px;
    top: 12px;
}

.bestSellingProduct .container .products-row .col .best-product .icons a {
    text-decoration: none;
    color: #000;
}

.bestSellingProduct .container .products-row .col .best-product .icons li {
    margin-bottom: 10px;
    display: flex;
    min-width: 20px;
    padding: 10px 15px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.bestSellingProduct .container .products-row .col .best-product .icons li a {
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.bestSellingProduct .container .products-row .col .best-product .icons li:hover>a {
    color: #DB4444;
}

.bestSellingProduct .container .products-row .col .product-description {
    margin: 10px 0px;
}

.bestSellingProduct .container .products-row .col .product-description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.bestSellingProduct .container .products-row .col .product-description .main-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
    margin: 15px 0px;
}

.bestSellingProduct .container .products-row .col .product-description .main-span>.grey-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.5;
    margin-left: 15px;
}


.bestSellingProduct .container .products-row .col .product-description .rate {
    display: flex;
}

.bestSellingProduct .container .products-row .col .product-description .rate li {
    list-style: none;
    margin-right: 5px;
}

.bestSellingProduct .container .products-row .col .product-description .rate li i {
    color: #FFAD33;
}




.bestSellingProduct .container .products-row .col:nth-child(2) .product-description .rate li:nth-child(5) i {
    color: #000;
    opacity: 0.25;
}

.bestSellingProduct .container .products-row .col .product-description .rate li .rate-number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}

/* Best Selling Product END */


/* Experience START */

.experience .container .row .text-images {
    flex-basis: 83%;
}

.experience .container .row .list ul li {
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
}

.experience .container .row .list ul li a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}

.experience .container .row .text-images {
    background-color: #000;
    padding: 0px 20px;
}

.experience .container .row .text-images .row {
    display: flex;
}

.experience .container .row .text-images .row .col {
    flex-basis: 50%;
}

.experience .container .row .text-images .row .col:first-child {
    padding: 20px 40px;
}

.experience .container .row .text-images .row .col ul li {
    margin: 25px 0px;
}

.experience .container .row .text-images .row .col ul li:first-child {
    display: flex;
    align-items: center;
}

.experience .container .row .text-images .row .col:first-child span {
    color: #00FF66;
}

.experience .container .row .text-images .col img {
    width: 80%;
    padding: 25px;
    margin-top: 25%;

}


.experience .container .row .text-images .row .col ul li:nth-child(2) h2 {
    width: 70%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    color: #FAFAFA;

}


.experience .container .row .text-images .row .col ul li:last-child a {
    text-decoration: underline;
    color: #fff;
}

.experience .container .row .text-images .row .col .time-left-1 {
    display: flex;
}

.experience .container .row .text-images .row .col .time-left-1 li {
    list-style: none;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
}

.experience .container .row .text-images .row .col .time-left-1 li h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.experience .container .row .text-images .row .col .time-left-1 li span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #000000;
}

.experience .container .row .text-images .row .col:last-child {
    position: relative;
}

.experience .container .row .text-images .row .col:last-child .blur {
    background: rgba(217, 217, 217, 0.3);
    filter: blur(100px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.experience .container .row .text-images .row .col:last-child .image {
    position: relative;
    width: 100%;
    height: 100%;
}

.experience .container .row .text-images .row .col:last-child .image img {
    filter: none;
    background: none;
    z-index: 10;
}

.experience .container .row .col button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    margin: 20px 0px;
    background: #00FF66;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.experience .container .row .col button a {
    color: white;
    text-decoration: none;
}

/* Experience END */

/* Products START */
.our-products {
    margin: 80px 0px 40px 0px;
}

.our-products .container .row {
    display: flex;
    align-items: center;
}


.our-products .container .row .col:first-child {
    flex-basis: 50%;
}


.our-products .container .row .col:first-child span {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin: 25px 0px;
}

.our-products .container .row .col:first-child span>.text-border-left {
    width: 20px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    background: #DB4444;
    display: inline-block;
}

.our-products .container .row .col:first-child h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

.our-products .container .row .col:last-child {
    flex-basis: 50%;
    align-self: flex-end;
}

.our-products .container .row .col:last-child .row-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-products .container .row .col:last-child .row-inside .navigate-arrow {
    display: flex;
}

.our-products .container .row .col:last-child .row-inside .navigate-arrow li {
    list-style: none;
    margin: 0px 5px;
    display: flex;
    min-width: 20px;
    padding: 10px 12px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border-radius: 50%;
    cursor: pointer;
}

.our-products .container .products-row {
    display: flex;
    margin: 40px 0px 80px 0px;
    column-gap: 30px;
}

.our-products .container .products-row .col {
    flex-basis: 25%;
}

.our-products .container .products-row .col .product-img {
    position: relative;
    height: 250px;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.our-products .container .products-row .col .product-img .discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
    position: absolute;
    width: 55px;
    height: 26px;
    left: 12px;
    top: 12px;
    background: #DB4444;
    border-radius: 4px;
}


.our-products .container .products-row .col .product-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-products .container .products-row .col .product-img .icons {
    position: absolute;
    right: 12px;
    top: 12px;
}

.our-products .container .products-row .col .product-img .icons li {
    margin-bottom: 10px;
    display: flex;
    min-width: 20px;
    padding: 10px 15px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.our-products .container .products-row .col .product-img .icons li a {
    text-decoration: none;
    color: #000;
    transition: all .2s ease-in-out;
}

.our-products .container .products-row .col .product-img .icons li:hover>a {
    color: #DB4444;
}

.our-products .container .products-row .col .product-description {
    margin: 10px 0px;
}

.our-products .container .products-row .col .product-description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.our-products .container .products-row .col .product-description .main-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
    margin: 15px 0px;
}

.our-products .container .products-row .col .product-description .main-span>.grey-span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.5;
    margin-left: 15px;
}

.our-products .container .products-row .col .product-description .rate {
    display: flex;
    align-items: center;
}

.our-products .container .products-row .col .product-description .rate span {
    margin-right: 8px;
}

.our-products .container .products-row .col .product-description .rate li {
    list-style: none;
    margin-right: 5px;
}

.our-products .container .products-row .col .product-description .rate li i {
    color: #FFAD33;
}

.our-products .container .products-row .col .product-description .product-clrs {
    display: flex;
}

.our-products .container .products-row .col .product-description .product-clrs li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-products .container .products-row .col .product-description .product-clrs li:first-child {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #000;
    text-align: center;
    background-color: #FB1314;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.our-products .container .products-row .col .product-description .product-clrs li .dark-red-clr {
    display: inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
    background-color: #DB4444;
    border-radius: 50%;
}

.our-products .container .products-row .col .product-description .product-clrs li .red-clr {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    text-align: center;
    background-color: #FB1314;
    border-radius: 50%;
}

.our-products .container .products-row .col .product-description .product-clrs li .yellow-clr {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    text-align: center;
    background-color: #EEFF61;
    border-radius: 50%;
}

.our-products .container .products-row .col .product-description .product-clrs li .black-clr {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    text-align: center;
    background-color: #000;
    border-radius: 50%;
}

.our-products .container .products-row .col .product-description .product-clrs li .green-clr {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    text-align: center;
    background-color: #184A48;
    border-radius: 50%;
}

.our-products .container .products-row .col:first-child .product-description .rate li:nth-child(5) i,
.our-products .container .products-row .col:first-child .product-description .rate li:nth-child(6) i,
.our-products .container .products-row .col:nth-child(2) .product-description .rate li:nth-child(6) i,
.our-products .container .products-row .col:nth-child(4) .product-description .rate li:nth-child(6) i {
    color: #000;
    opacity: 0.25;
}

.our-products .container .products-row .col:nth-child(2) .product-img button {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 41px;
    border-radius: 0px 0px 4px 4px;
    background-color: #000;
    outline: none;
    border: none;
}

.our-products .container .products-row .col:nth-child(2) .product-img button a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
}

.our-products .container .products-row .col:nth-child(2) .product-img button:hover>a {
    color: #DB4444;
}

.our-products .container .products-row .col .product-description .rate li .rate-number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
}

.our-products .container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our-products .container .button a {
    width: 25%;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    padding: 16px 48px;
    gap: 10px;
    background: #DB4444;
    border-radius: 4px;
}


/* New Arrivals START */
.new-arrivals .container {
    margin: 0 auto;
    width: 80%;
}


.new-arrivals .container .row {
    display: flex;
    align-items: center;
    margin: 100px 0px;
}


.new-arrivals .container .row .col:first-child {
    flex-basis: 100%;
}


.new-arrivals .container .row .col:first-child span {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin: 25px 0px;
}

.new-arrivals .container .row .col:first-child span>.text-border-left {
    width: 20px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    background: #DB4444;
    display: inline-block;
}

.new-arrivals .container .row .col:first-child h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

.new-arrivals .container .grid-system {
    display: grid;
    grid-template: auto / repeat(12, 1fr);
    grid-template-areas:
        "p p p p p p h h h h h h"
        "p p p p p p f f f s s s";
    gap: 2rem;
    margin: 50px 0px;
}

.new-arrivals .container .grid-system .primary-img {
    grid-area: p;
}

.new-arrivals .container .grid-system .primary-img .parent {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #000;
    border-radius: 4px;
}


.new-arrivals .container .grid-system .primary-img .parent .bg-img {
    z-index: -10;
}

.new-arrivals .container .grid-system .primary-img .parent .bg-img img {
    width: 511px;
    height: 511px;
    position: absolute;
    bottom: 0;
    left: 30px;
}

.new-arrivals .container .grid-system .primary-img .parent .description {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.new-arrivals .container .grid-system .primary-img .parent .description h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
}

.new-arrivals .container .grid-system .primary-img .parent .description p {
    width: 70%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    margin: 20px 0px;
}

.new-arrivals .container .grid-system .primary-img .parent .description a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: all .2s ease-in-out;
}

.new-arrivals .container .grid-system .primary-img .parent .description a:hover {
    border: none;
}

.new-arrivals .container .grid-system .hero-banners {
    grid-area: h;
    height: 100%;
}

.new-arrivals .container .grid-system .hero-banners .parent {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-radius: 4px;
}


.new-arrivals .container .grid-system .hero-banners .parent .bg-img {
    z-index: -10;
}

.new-arrivals .container .grid-system .hero-banners .parent .bg-img img {
    width: 511px;
    position: absolute;
    bottom: 0;
    left: 60px;
}

.new-arrivals .container .grid-system .hero-banners .parent .description {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.new-arrivals .container .grid-system .hero-banners .parent .description h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
}

.new-arrivals .container .grid-system .hero-banners .parent .description p {
    width: 70%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    margin: 20px 0px;
}

.new-arrivals .container .grid-system .hero-banners .parent .description a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: all .2s ease-in-out;
}

.new-arrivals .container .grid-system .hero-banners .parent .description a:hover {
    border: none;
}


.new-arrivals .container .grid-system .first-img {
    grid-area: f;
}

.new-arrivals .container .grid-system .first-img .parent {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-radius: 4px;
}


.new-arrivals .container .grid-system .first-img .bg-img {
    z-index: -10;
}

.new-arrivals .container .grid-system .first-img .parent .bg-img img {
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.new-arrivals .container .grid-system .first-img .parent .description {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.new-arrivals .container .grid-system .first-img .parent .description h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
}

.new-arrivals .container .grid-system .first-img .parent .description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    margin: 20px 0px;
}

.new-arrivals .container .grid-system .first-img .parent .description a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: all .2s ease-in-out;
}

.new-arrivals .container .grid-system .first-img .parent .description a:hover {
    border: none;
}

.new-arrivals .container .grid-system .second-img {
    grid-area: s;
}

.new-arrivals .container .grid-system .second-img .parent {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-radius: 4px;
}


.new-arrivals .container .grid-system .second-img .bg-img {
    z-index: -10;
}

.new-arrivals .container .grid-system .second-img .parent .bg-img img {
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.new-arrivals .container .grid-system .second-img .parent .description {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.new-arrivals .container .grid-system .second-img .parent .description h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
}

.new-arrivals .container .grid-system .second-img .parent .description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    margin: 20px 0px;
}

.new-arrivals .container .grid-system .second-img .parent .description a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: all .2s ease-in-out;
}

.new-arrivals .container .grid-system .second-img .parent .description a:hover {
    border: none;
}

/* New Arrivals END */

/* Offers START */
.offers .container {
    width: 80%;
    margin: 150px auto;
}

.offers .container .row {
    display: flex;
}

.offers .container .row .col {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers .container .row .col .overlay {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    text-align: center;
    background-color: #c1c0c1;
    border-radius: 50px;
}

.offers .container .row .col .overlay .icon {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    text-align: center;
    background-color: #000;
    border-radius: 50px;
}

.offers .container .row .col .overlay .icon img {
    width: 35px;
}

.offers .container .row .col h4 {
    margin: 15px 0px 10px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.offers .container .row .col p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

@media only screen and (max-width:767px) {
    .hero-banner .container {
        width: 95%;
        margin: 0 auto;
    }

    .hero-banner .container .row {
        flex-direction: column;
    }

    .today-sales .container .products-row {
        flex-direction: column;
        text-align: center;
    }

    .today-sales .container .products-row .col {
        margin: 15px 0px;
    }

    .today-sales .container .products-row .rate {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .hero-banner .container .row {
        display: flex;
        column-gap: 10px;
    }

    .hero-banner .container .row .main-text .row .col:last-child img {
        width: 100%;
    }

    .today-sales .container .row {
        flex-direction: column;
        text-align: center;
    }

    .today-sales .container .row .col {
        width: 100%;
        margin: 10px 0px;
    }


    .today-sales .container .row .col:last-child .row-inside {
        flex-direction: column;
        justify-content: center;
    }


    .today-sales .container .products-row .col:nth-child(2) .product-img button {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .today-sales .container .button a {
        width: 100%;
    }

    .categories .container .row,
    .bestSellingProduct .container .products-row,
    .experience .container .row,
    .offers .container .row {
        flex-direction: column;
    }

    .bestSellingProduct .container .products-row {
        flex-direction: column;
        text-align: center;
    }

    .bestSellingProduct .container .products-row .col {
        margin: 15px 0px;
    }

    .bestSellingProduct .container .products-row .rate {
        justify-content: center;
    }

    .experience .container .row .text-images .row .col ul li {
        justify-content: center;
    }

    .experience .container .row .text-images .row .col ul li:last-child h2 {
        text-align: center;
        font-size: 26px;
        width: 100%;
    }

    .experience .container .row .text-images .row .col .time-left-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .experience .container .row .text-images .row .col .time-left-1 li {
        margin: 5px 0px;
    }

    .experience .container .row .col button {
        width: 100%;
    }

    .container .row .text-images .row .col:last-child .image {
        display: flex;
        justify-content: center;
    }

    .container .row .text-images .row .col:last-child .image img {
        margin: 0;
    }

    .our-products .container .products-row {
        flex-direction: column;
        text-align: center;
    }

    .our-products .container .products-row .col {
        margin: 15px 0px;
    }

    .our-products .container .products-row .col:nth-child(2) .product-img button {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .our-products .container .products-row .rate,
    .our-products .container .products-row .col .product-description .product-clrs {
        justify-content: center;
    }

    .our-products .container .button a {
        width: 100%;
    }

    .our-products .container .row .col:last-child .row-inside .navigate-arrow,
    .today-sales .container .row .col:last-child .row-inside .navigate-arrow {
        display: none;
    }

    .new-arrivals .container .grid-system {
        display: block;
    }

    .new-arrivals .container .grid-system .primary-img {
        background-color: #000;
    }

    .new-arrivals .container .grid-system .primary-img .parent .bg-img img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        object-fit: cover;
    }

    .new-arrivals .container .grid-system .hero-banners {
        height: 100vh;
        background-color: #000;
        margin: 25px 0px;
    }

    .new-arrivals .container .grid-system .hero-banners .parent .bg-img img {
        position: absolute;
        left: 50%;
        top: 100%;
        bottom: 0;
        transform: translate(-50%, -100%);
        width: 100%;
        object-fit: cover;
    }


    .new-arrivals .container .grid-system .first-img {
        margin: 25px 0px;
        height: 100vh;
        background-color: #000;
    }

    .new-arrivals .container .grid-system .first-img .parent .bg-img img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        object-fit: cover;
    }

    .new-arrivals .container .grid-system .second-img {
        margin: 25px 0px;
        height: 100vh;
        background-color: #000;
    }

    .new-arrivals .container .grid-system .second-img .parent .bg-img img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        object-fit: cover;
    }


    .offers .container .row .col {
        margin: 25px 0px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }

    * {
        box-sizing: border-box;
    }

    .hero-banner .container,
    .today-sales .container,
    .categories .container,
    .bestSellingProduct .container,
    .experience .container,
    .our-products .container {
        width: 95%;
        margin: 50px auto;
    }

    .hero-banner .container .row {
        flex-direction: column;
    }

    .categories .container .productCategory .row {
        column-gap: 10px;
    }

    .our-products .container .products-row {
        column-gap: 5px;
    }

    .our-products .container .products-row {
        flex-basis: 25%;
    }

    .experience .container .row .text-images .row .col:last-child .image {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .experience .container .row .text-images .row .col:last-child .image img {
        width: 100%;
    }

    .our-products .container .button a,
    .today-sales .container .button a {
        width: 80%;
    }

    .new-arrivals .container .grid-system {
        display: flex;
        flex-direction: column;
    }

    .new-arrivals .container .grid-system .primary-img,
    .new-arrivals .container .grid-system .hero-banners,
    .new-arrivals .container .grid-system .first-img,
    .new-arrivals .container .grid-system .second-img {
        display: block;
        width: 100%;
        height: 100vh;
    }

    .new-arrivals .container .grid-system .primary-img {
        margin-bottom: 170px;
    }

    .new-arrivals .container .grid-system .primary-img .parent .bg-img img,
    .new-arrivals .container .grid-system .hero-banners .parent .bg-img img {
        width: 100%;
        height: 100%;
    }

    .new-arrivals .container .grid-system .first-img .parent .bg-img img,
    .new-arrivals .container .grid-system .second-img .parent .bg-img img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }

}

/* Offers END */